@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
    height: 100%;
}

body {
    background: #91B4E9D9;
    background-image: url('./assets/pattern.png');
    background-image: url('./assets/pattern.png'), linear-gradient(#559CEE, #91B4E980);

    
    background-blend-mode: lighten, normal;
    background-attachment: fixed;

    width: 100%;
    min-width: fit-content;

    height: 100%;

    display: flex;
    flex-direction: column;
}