@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background: url('./assets/pattern.png'), linear-gradient(#9880F3FF, #1B0E4FD9) fixed ;

    width: 100%;
    min-width: fit-content;

    height: 100%;

    display: flex;
    flex-direction: column;
}