@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    background: url('./assets/pattern.png'), linear-gradient(#9880F3FF, #1B0E4FD9) fixed ;

    width: 100%;
    min-width: fit-content;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}